esphome:
  name: test-fp2

esp32:
  board: esp32-solo1
  framework:
    type: esp-idf

    sdkconfig_options:
      CONFIG_FREERTOS_UNICORE: "y"
      CONFIG_ESP_SYSTEM_SINGLE_CORE_MODE: "y"
    advanced:
      ignore_efuse_mac_crc: true
      ignore_efuse_custom_mac: true

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

api:
  encryption:
    key: !secret api_encryption_key

  actions:
    - action: get_map_config
      supports_response: only
      then:
        - api.respond:
            data: !lambda |-
              id(fp2).json_get_map_data(root);

# Configure `api` and `wifi`

logger:

uart:
  id: uart_bus
  tx_pin: GPIO19
  rx_pin: GPIO18
  baud_rate: 890000

external_components:
  - source:
      type: local
      path: components

aqara_fp2_accel:
  id: fp2_accel

aqara_fp2:
  id: fp2
  accel: fp2_accel

  uart_id: uart_bus

  radar_reset_pin: GPIO13
  mounting_position: left_corner
  left_right_reverse: false

  target_tracking:
    name: "Targets"

  location_report_switch:
    name: "Report Targets"

  # 14x14 Grid (Active Area)
  interference_grid: |-
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .

  exit_grid: |-
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .
    . . . . . . . . . . . . . .

  global_zone:
    presence_sensitivity: medium
    presence:
      name: "Global Presence"
    motion:
      name: "Global Motion"

  zones:
    - id: sofa_zone
      grid: |-
        . . X X X . . . . . . . . .
        . . X X X . . . . . . . . .
        . . X X X . . . . . . . . .
        . . . . . . . . . . . . . .
        . . . . . . . . . . . . . .
        . . . . . . . . . . . . . .
        . . . . . . . . . . . . . .
        . . . . . . . . . . . . . .
        . . . . . . . . . . . . . .
        . . . . . . . . . . . . . .
        . . . . . . . . . . . . . .
        . . . . . . . . . . . . . .
        . . . . . . . . . . . . . .
        . . . . . . . . . . . . . .
      presence_sensitivity: high
      presence:
        name: "Sofa Zone Presence"
      motion:
        name: "Sofa Zone Motion"

  radar_software_version:
    name: "Radar Software Version"
  radar_temperature:
    name: "Radar Temperature"

binary_sensor:
  # Button on the bottom of the device
  - platform: gpio
    pin:
      number: GPIO36
      inverted: true
    name: "Device Button"

# Status LED (README: IO27 - LED). Using one channel of RGB as status.
# Unused: IO26, IO14
light:
  - platform: status_led
    name: "Status LED"
    pin: GPIO27
